{% include "header.html" %}


<div class="container px-4 text-center"    data-page="index" >
  <div>
    <h1 id="MiKwabo"  class = "mb-4">MI KWABO</h1>
    <h4 id="accroche"   class = "mb-4">  Osez l'authenticité des zones rurales ! Découvrez et soutenez les entreprises locales qui font rayonner le savoir-faire traditionnel et moderne.</h4>
    <img src="/static/amazone.jpg" class="rounded mx-auto d-block" width="400" height="400" alt="Image Mi kwabô">
  </div>
  <script src="/static/marche.js"></script>
</div>
{% include "footer.html" %}
